/* the star selector select all the element*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* I do not understand the code boxs-izing:box-border?;*/
hr{
    width: 90%;
    height: 3px;
    margin: auto;
    background-color: #5c5c5c;
}

.container{
    margin: 50px auto;
    display: flex;
    width: 90%;
}

aside, main section{
    background-color: #ffffff;
    border: 1px solid #808080;
    margin-right: 15px;
    flex: 2;
}

main{
    flex: 7;
    
}

.personal-img{
    width: 325px;
    height: 230px;
}

.name{
    color: #5c5c5c;
    font-size: 2vw;
    margin: 3px;
}

.information, .skills-list{
    font-size: 1.2vw;
    padding: 20px;
    list-style: none;
    color: #009688;
}

.information li{
    margin: 5px 0;
}

.information li i{
    margin:0 10px;
}

.head-section{
    color: #5c5c5c;
    padding: 30px;
    margin: 0;
    font-size: 1.6vw;
}


.skills-list li{
    margin: 15px 10px; 
}

.progress-back{
    border: 1px solid #5c5c5c;
    border-radius: 15px;
    height: 1.2em;
    margin-top: 10px;
    text-align: center;
}

.progress{
    height: 100%;
    border-radius: 15px;
    background-color: #009688;
}

.p-85{width: 85%;}
.p-75{width: 75%;}
.p-60{width: 60%;}
.p-95{width: 95%;}
.p-100{width: 100%;}
.p-90{width: 90%;}
.p-50{width: 50%;}

.progress h4{
    color: #ffffff;

}

aside i{
    color: #009688;
}

section i {
    color: #009688;
}

.data-details {
    width: 90%;
    margin: auto;
    padding: 40px 0px;
}

.data-details h3 {
    color: #5c5c5c;
    font-size: 1.2vw;
    margin: 10px 0px;
}

.data-details > span {
    color: #009688;
    margin: 15px 0px;
    letter-spacing: 1px;
    font-weight: bold;
} 

.green-span{
    background-color: #009688;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-weight: normal;
}

.data-details P {
    color: #5c5c5c;
    margin: 10px 0px;
    letter-spacing: .5px;
    line-height: 1.6;
}

#first-section{
    margin-bottom: 50px;
    box-shadow:6px 6px 6px 6px rgb(34, 60, 80, 0.16);
}

#second-section{
    box-shadow:6px 6px 6px 6px rgb(34, 60, 80, 0.16);
}
 aside{
    box-shadow:6px 6px 6px 6px rgb(34, 60, 80, 0.16);
 }
footer{
    margin-top: 60px;
    width: 100%;
    height: 150px;
    background-color: #009688;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    line-height: 2;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    font-size: 1.2vw;
}